# Firestore Tooling files
.firestore_tool_token.json

# Node/ Yarn files
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

dist/
node_modules/
.yarnrc.yml

# Other
*.log

# firebase files
.firebase
serviceAccountKey.json
